.shape-right-panel
{
  position: absolute;
  z-index: 1;
  border: 1px red solid;
  background-color: white;
  width: 200px;
  height: 500px;
  right: 0px;
  top: 0px;
  padding: 5px;
  margin: 5px;
}
