.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.sidebar {
  flex-grow: 1;
  flex-basis: 75px;
  width: 85px;

  background-color: yellow;
}

.internal-sidebar
{
  flex-grow: 1;
  flex-basis: 85px;
  width: 85px;
  background-color: wheat;

  .draw
  {
    display: flex;
    flex-direction: column;
  }
}

.not-sidebar {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
}
